/* Reset dan Dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Variabel Warna */
:root {
  --color-bg-dark: #1e202f;
  --color-bg-secondary: #27293d;
  --color-primary: #5c5eec;
  --color-hover: #7276ec;
  --color-text-light: #e0e0e0;
  --color-text-dimmed: #a0a0a0;
  --color-border: #383a54;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  margin: 3rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.form-container {
  background-color: var(--color-bg-secondary);
  padding: 2rem;
  margin: 0 300px;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  width: 50%;
  align-items: center;
}

h1 {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.8em;
  border-bottom: 2px solid var(--color-border);
  padding-bottom: 1.5rem;
}

form .label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--color-text-light);
}

form .input-text,
form .select-option,
form .input-date,
form .input-time,
form .input-email {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-light);
  transition: border-color 0.3s;
  color-scheme: dark;
}
form .input-text:focus,
form .select-option:focus,
form .input-date:focus,
form .input-time:focus,
form .input-email:focus {
  border-color: var(--color-primary);
  outline: none;
}

form input::placeholder {
  color: var(--color-text-dimmed);
}

form .select-option {
  cursor: pointer;
}

form .radio-option,
form .checkbox-option {
  padding-right: 8px;
  accent-color: var(--color-primary);
}

form .checkbox-option{
  align-items: center;
  margin-top: 10px; 
}

input.input-radio,
input.input-checkbox {
  margin: 0 4px;
  cursor: pointer;
  transform: scale(1.5);
}


form .radio-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

form .checkbox-container {
  align-items: center;
  margin-top: 10px;
}

form .input-submit {
  display: block;
  width: 100%;
  margin-top: 2.5rem;
  padding: 1rem;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.3s;
}

form .input-submit:hover {
  background-color: var(--color-hover);
}

.table-container {
  width: 100%;
  overflow-x: auto;
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--color-text-light);
  background-color: var(--color-bg-secondary);
  font-size: 1em;
  border: 2px solid var(--color-border);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

table th,
table tr,
table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 2px solid var(--color-border);
}

table th {
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

table, th, td {
  border: 1px solid var(--color-border);
}

.judul-table{
  font-size: 1.5rem;
}
